# Git
.git
.gitignore

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Documentation
README.md
LICENSE

# Frontend (para el Dockerfile del backend)
frontend/
