services:
  - type: web
    name: ecommerce-medical-backend
    env: docker
    plan: free
    region: oregon
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: DATABASE_URL
        sync: false
      - key: DATABASE_USERNAME
        sync: false
      - key: DATABASE_PASSWORD
        sync: false
      - key: CLOUDINARY_URL
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: JAVA_VERSION
        value: "17"
